html{
    height: 100%;
    width: 100%;
}

#header{
    background-image: url(images/college_accep.jpg);
    background-size: 100% 100%;
    height: 500px;
    /* Centralizing text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 
#intro mark{
    background-color: pink;
} */

/* Lists */
#list_colleges{
    display: flex;
    flex-direction: row;
    background-color: pink;
}

#list1, #list2{
    width: 50%;
    text-align: center;
}

#list1 ul, #list2 ul{
    list-style-type: none;
    font-weight: bold;
}

/* Accounts */
#accounts{
    background-color: pink;
    justify-items: center;
}

#students_accounts{
    display: grid;
    align-items: center;
    /* column-gap: 10px; */
    row-gap: 10px;
    width: 95%;
}

#students_accounts div{
    border: 1px solid black;
    font-size: 1.1em;
    background-color: white;
}